nav.navbar{
    position: fixed;
    top:0;
    margin-bottom: 0;
    background: none;
}
.navbar-collapse, .container-fluid{
    padding: 0;
}

.navbar-default .navbar-nav > .active > a{
    color:#555;
}
nav.navbar ul li a{
    color: #fff;
}