.btn{
    margin-bottom: 15px;
}

.rerollBtn{
    margin:auto;
    display: block;
}

.randomLocation{
    font-family:'Burbank';
    font-size:45px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}