
<div class="mainContainer">
    <div class="container">
        <div>
            <button [disabled]="isRollin" class="bold btnAll btn btn-sm btn-success"
                (click)="onAllOn()">ALL ON</button>
            <button [disabled]="isRollin" class="bold btnAll btn btn-sm btn-danger"
                (click)="onAllOff()">ALL OFF</button><br>


        <app-spinning *ngFor = "let location of locations; let i = index "
                [locationName]="location.name"
                [locationId]="location.id"
                [locationStatus]="location.status"
                [index]="i"></app-spinning>
        </div>


        <!-- <h3 *ngIf="!ready" class="randomLocation text-center">Click to start</h3> -->
        <h3 [ngClass]="{'selected': selected == true}" class="randomLocation text-center">{{ randomLocation.name }}</h3>
        
        <button class="bold btn btn-lg btn-primary rerollBtn"(click)="reroll()" [disabled]="!moreThanOne">REROLL</button>
    </div>
</div>