@font-face {
	font-family:'Burbank';
	src:url('assets/fonts/BurbankBigCondensed-Bold.otf');
    font-weight:normal;
    font-style:normal;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content:flex-end;
    background:none;
    color: #fff;
}

footer a{
    padding-right: 20px;
}


nav.navbar{
    position: fixed;
    top:0;
    margin-bottom: 0;
    background: none;
}
.navbar-collapse, .container-fluid{
    padding: 0;
}

.navbar-default .navbar-nav > .active > a{
    color:#555;
}
nav.navbar ul li a{
    color: #fff;
}

